#categoryListDiv{
            grid-column: 1;
            grid-row: span 3;
            border-right: 2px solid black;
}
#categoryNameDiv{
    grid-column: 2;
    grid-row: 1;
    height: 30px;
}
#productListDiv{
    grid-column: 2;
    grid-row:2;
    border-bottom: 2px solid black;
    display:flex;
    flex-wrap: wrap;
}
#pagingDiv{
    grid-column: 2;
    grid-row: 3;
    height: 57px;
}