#shipDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	width: 50%;
}

#title2 {
	margin: 150px 0 60px 22px;
	text-align: left;

}

pre {
	font-size: 12px;
	font-weight: 600;
	font-family: 'RTB', Helvetica Neue, Helvetica, Noto Sans KR, sans-serif;
	margin-bottom: 200px;
}